.testo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.testocv {
    font-family: Arial, Helvetica, sans-serif;
}

.testocvs {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}